<a href="https://colab.research.google.com/github/Arjun-RY/Language-Identification/blob/main/Language_Identification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip  install nltk

In [2]:
import numpy as np
import pandas as pd

import re
import nltk
import string
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from wordcloud import WordCloud
from sklearn import svm
from sklearn import tree
from sklearn import metrics
from sklearn import ensemble
from sklearn import naive_bayes
from sklearn import linear_model
from sklearn import preprocessing
from sklearn import model_selection
from sklearn import feature_extraction

In [3]:
df=pd.read_csv('/content/Language Detection.csv',encoding="ISO-8859-1")
print(df.shape)
df.head()

(10337, 2)

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [4]:
df.nunique()

Text        10267
Language       17
dtype: int64

In [5]:
df['Language'].value_counts()

English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: Language, dtype: int64

In [6]:
df.isna().sum()

Text        0
Language    0
dtype: int64

In [7]:
mapping_product_name={"Sweedish":'Swedish','Portugeese':'Portugese'}
df.loc[:,'Language']=df["Language"].replace(mapping_product_name)

In [8]:
df['Language'].value_counts()

English      1385
French       1014
Spanish       819
Portugese     739
Italian       698
Russian       692
Swedish       676
Malayalam     594
Dutch         546
Arabic        536
Turkish       474
German        470
Tamil         469
Danish        428
Kannada       369
Greek         365
Hindi          63
Name: Language, dtype: int64

In [9]:
df=df.drop_duplicates()
df.shape

(10271, 2)

In [10]:
non_unique_rows=df[df.duplicated(['Text'])]['Text'].unique()
non_unique_rows

array(['suggestions.', 'pardon?', 'dedos cruzados.', 'slÃ¥r mig.'],
      dtype=object)

In [11]:
a=df['Text'].value_counts()[df['Text'].value_counts()>1].index

In [12]:
df=df.reset_index()

In [13]:
for i in range(10271):
  if df.loc[i,'Text'] in a:
    print(df.loc[i])
    print(i)

index               1272
Text        suggestions.
Language         English
Name: 1269, dtype: object
1269
index                  3011
Text        dedos cruzados.
Language          Portugese
Name: 2998, dtype: object
2998
index          4117
Text        pardon?
Language     French
Name: 4095, dtype: object
4095
index               4151
Text        suggestions.
Language          French
Name: 4129, dtype: object
4129
index          4649
Text        pardon?
Language      Dutch
Name: 4623, dtype: object
4623
index                  5359
Text        dedos cruzados.
Language            Spanish
Name: 5332, dtype: object
5332
index             6975
Text        slÃ¥r mig.
Language        Danish
Name: 6931, dtype: object
6931
index             8823
Text        slÃ¥r mig.
Language       Swedish
Name: 8769, dtype: object
8769

In [14]:
def clean_text(x):
    x = re.sub(r'[\([{})\]!@#$,"%^*?:;~`]', ' ', x)
    x = re.sub(r"\\|[0-9]|/|-|_|'|\.", '', x)
    # Convert to lowercase
    x = re.sub('\s+', ' ', x)
    return x

# Apply the function to the 'Text' column
df['Text'] = df['Text'].map(clean_text)

In [15]:
df['Text']

0         Nature in the broadest sense is the natural p...
1         Nature can refer to the phenomena of the phys...
2        The study of nature is a large if not the only...
3        Although humans are part of nature human activ...
4         The word nature is borrowed from the Old Fren...
                               ...
10266    à²¨à²¿à²®à³à²® à²¤à²ªà³à²ªà³ à²à²¨à³ à²¬à...
10267    à²¨à²¾à²°à³à²¸à²¿à²¸à²¾ à²¤à²¾à²¨à³ à²®à³à²...
10268    à²¹à³à²à³ à²¨à²¾à²°à³à²¸à²¿à²¸à²¿à²¸à²®à³...
10269    à² à²µà²³à³ à²à² à²¹à³à²à³à²à³ à²à²¿à...
10270    à²à³à²°à³à²°à²¿ à²¨à³à²µà³ à²¨à²¿à²à²µà²...
Name: Text, Length: 10271, dtype: object